In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df =  pd.read_csv('data_cleaned_final.csv')
df.head()

,City,Full_Address,Postal_Code,Amenities,Association_fee,latitude,longitude,List_Date,List_Price,MLS_Days_On_Market,...,Photos,Acres,Bathrooms,Bedrooms,Garage_Spaces,Lot_Size_Area,Parking_Spaces,Sub_Type,Year_Built,Remarks
0,Ontario,4034 S Inglenook Way,91761.0,"Pool,Spa,Fire Pit,Barbecue,Outdoor Cooking Are...",151.0,34.000034,-117.583168,2019-01-19T00:00:00Z,568000.0,0.0,...,http://media.crmls.org/medias/a1d6c638-fd49-40...,0.0930,3.0,4.0,2.0,4050.0,2.0,SingleFamilyResidence,2019.0,"MOVE-IN FEBRUARY 28, 2019. This brand new 4 b..."
1,Bellflower,10292 Artesia Blvd,90706.0,"Fire Pit,Barbecue,Picnic Area",330.0,33.872722,-118.115333,2018-09-09T00:00:00Z,465755.0,131.0,...,http://media.crmls.org/medias/dd5dfa12-f8fe-47...,0.0000,3.0,3.0,0.0,0.0,0.0,Condominium,2019.0,"Plan 4 (1,230 sq. ft.) is a condominium with 3..."
2,Canyon Lake,22672 Canyon Lake Drive,92587.0,"Pool,Spa,Barbecue,Outdoor Cooking Area,Picnic ...",248.0,33.683683,-117.263206,2018-05-28T00:00:00Z,750000.0,149.0,...,http://media.crmls.org/medias/b5152689-5139-4a...,0.1791,3.0,4.0,3.0,7800.0,3.0,SingleFamilyResidence,2019.0,This is your chance to get the custom new buil...
3,Desert Hot Springs,11558 Bald Eagle Lane,92240.0,"Dues Paid Monthly,Call for Rules,Controlled Ac...",90.0,33.964296,-116.521878,2019-01-17T00:00:00Z,359900.0,1.0,...,http://media.crmls.org/medias/d5148750-ef31-4b...,0.1700,3.0,4.0,2.0,7405.0,2.0,SingleFamilyResidence,2019.0,Brand New 2019 construction at Eagle Point Gat...
4,Irvine,103 Spacial,92618.0,"Pool,Spa,Barbecue,Playground,Tennis,Biking Tra...",295.0,33.685499,-117.709165,2019-01-15T00:00:00Z,2441540.0,6.0,...,http://media.crmls.org/medias/2fe072ad-e35d-4d...,0.1575,6.0,5.0,3.0,6860.0,3.0,SingleFamilyResidence,2019.0,Luxurious living and entertaining. The Altamir...

In [3]:
df['List_Price_Analysor'] = 2
df.head()

,City,Full_Address,Postal_Code,Amenities,Association_fee,latitude,longitude,List_Date,List_Price,MLS_Days_On_Market,...,Acres,Bathrooms,Bedrooms,Garage_Spaces,Lot_Size_Area,Parking_Spaces,Sub_Type,Year_Built,Remarks,List_Price_Analysor
0,Ontario,4034 S Inglenook Way,91761.0,"Pool,Spa,Fire Pit,Barbecue,Outdoor Cooking Are...",151.0,34.000034,-117.583168,2019-01-19T00:00:00Z,568000.0,0.0,...,0.0930,3.0,4.0,2.0,4050.0,2.0,SingleFamilyResidence,2019.0,"MOVE-IN FEBRUARY 28, 2019. This brand new 4 b...",2
1,Bellflower,10292 Artesia Blvd,90706.0,"Fire Pit,Barbecue,Picnic Area",330.0,33.872722,-118.115333,2018-09-09T00:00:00Z,465755.0,131.0,...,0.0000,3.0,3.0,0.0,0.0,0.0,Condominium,2019.0,"Plan 4 (1,230 sq. ft.) is a condominium with 3...",2
2,Canyon Lake,22672 Canyon Lake Drive,92587.0,"Pool,Spa,Barbecue,Outdoor Cooking Area,Picnic ...",248.0,33.683683,-117.263206,2018-05-28T00:00:00Z,750000.0,149.0,...,0.1791,3.0,4.0,3.0,7800.0,3.0,SingleFamilyResidence,2019.0,This is your chance to get the custom new buil...,2
3,Desert Hot Springs,11558 Bald Eagle Lane,92240.0,"Dues Paid Monthly,Call for Rules,Controlled Ac...",90.0,33.964296,-116.521878,2019-01-17T00:00:00Z,359900.0,1.0,...,0.1700,3.0,4.0,2.0,7405.0,2.0,SingleFamilyResidence,2019.0,Brand New 2019 construction at Eagle Point Gat...,2
4,Irvine,103 Spacial,92618.0,"Pool,Spa,Barbecue,Playground,Tennis,Biking Tra...",295.0,33.685499,-117.709165,2019-01-15T00:00:00Z,2441540.0,6.0,...,0.1575,6.0,5.0,3.0,6860.0,3.0,SingleFamilyResidence,2019.0,Luxurious living and entertaining. The Altamir...,2

In [4]:
df['List_Price'] = df['List_Price'].astype('int64', copy=False)
df.dtypes

City                    object
Full_Address            object
Postal_Code            float64
Amenities               object
Association_fee        float64
latitude               float64
longitude              float64
List_Date               object
List_Price               int64
MLS_Days_On_Market     float64
MLS_Status              object
Photos                  object
Acres                  float64
Bathrooms              float64
Bedrooms               float64
Garage_Spaces          float64
Lot_Size_Area          float64
Parking_Spaces         float64
Sub_Type                object
Year_Built             float64
Remarks                 object
List_Price_Analysor      int64
dtype: object

In [6]:
for i, r in df.iterrows():
    if df['List_Price'][i]>1500000:
#         print(df['List_Price'][i])
        df['List_Price_Analysor'][i]=1
    else:
        df['List_Price_Analysor'][i]=0
            
df['List_Price_Analysor'].head()

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

0    0
1    0
2    0
3    0
4    1
Name: List_Price_Analysor, dtype: int64

In [7]:
df = df[['Association_fee', 'List_Price', 'MLS_Days_On_Market', 'Lot_Size_Area', 'Bathrooms', 'Bedrooms', 
         'Garage_Spaces','Year_Built', 'List_Price_Analysor']]
df.head()

,Association_fee,List_Price,MLS_Days_On_Market,Lot_Size_Area,Bathrooms,Bedrooms,Garage_Spaces,Year_Built,List_Price_Analysor
0,151.0,568000,0.0,4050.0,3.0,4.0,2.0,2019.0,0
1,330.0,465755,131.0,0.0,3.0,3.0,0.0,2019.0,0
2,248.0,750000,149.0,7800.0,3.0,4.0,3.0,2019.0,0
3,90.0,359900,1.0,7405.0,3.0,4.0,2.0,2019.0,0
4,295.0,2441540,6.0,6860.0,6.0,5.0,3.0,2019.0,1

In [8]:
y = df['List_Price_Analysor']

In [9]:
X = df.drop('List_Price_Analysor', axis=1)
#the second drops can show the difference by activating/deactivating
X = X.drop('List_Price', axis=1)
X.head()

,Association_fee,MLS_Days_On_Market,Lot_Size_Area,Bathrooms,Bedrooms,Garage_Spaces,Year_Built
0,151.0,0.0,4050.0,3.0,4.0,2.0,2019.0
1,330.0,131.0,0.0,3.0,3.0,0.0,2019.0
2,248.0,149.0,7800.0,3.0,4.0,3.0,2019.0
3,90.0,1.0,7405.0,3.0,4.0,2.0,2019.0
4,295.0,6.0,6860.0,6.0,5.0,3.0,2019.0

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

In [11]:
# Create the model 
from sklearn.ensemble import GradientBoostingClassifier
clf = GradientBoostingClassifier(n_estimators=100, learning_rate=1.0, max_depth=1, random_state=42)

In [12]:
clf.fit(X_train, y_train)

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=1.0, loss='deviance', max_depth=1,
              max_features=None, max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=1, min_samples_split=2,
              min_weight_fraction_leaf=0.0, n_estimators=100,
              n_iter_no_change=None, presort='auto', random_state=42,
              subsample=1.0, tol=0.0001, validation_fraction=0.1,
              verbose=0, warm_start=False)

In [14]:
# print R2 score
R2_GBC = clf.score(X_test,y_test)

In [16]:
print(f"Testing Data Score:", R2_GBC)

Testing Data Score: 0.9401050788091069

In [13]:
# Predict the class (purple or yellow) of the new data point
predictions = clf.predict (x_test)
pd.DataFrame({"Prediction": predictions, "Actual": y_test})

       Prediction  Actual
10057           0       0
4774            0       0
4100            0       1
8775            0       0
2058            0       0
2652            0       0
8074            0       0
8594            0       0
5874            0       0
5793            0       0
7950            0       0
6155            0       0
10136           0       0
6912            0       0
8482            0       0
10066           0       0
4806            0       0
9869            0       0
1222            0       0
296             0       0
950             0       0
3212            0       0
9034            0       0
213             0       0
7830            0       0
973             0       0
452             0       0
1947            0       0
805             0       0
8284            0       0
...           ...     ...
446             0       0
9132            0       0
1971            0       0
7964            0       0
752             0       0
2401            0       0
8253            0       1
5110            0       0
9328            0       0
10706           0       0
9609            0       0
1180            0       0
2654            0       0
6388            0       0
8683            0       0
10665           0       0
7523            0       0
8202            0       0
2940            0       0
10634           0       0
10464           0       0
498             0       1
6201            0       0
339             0       0
883             0       0
6957            0       0
3934            0       0
2791            0       0
8169            0       0
2544            0       0

[2855 rows x 2 columns]